# Игнорировать папку .vs, которая используется Visual Studio
.vs/

# Игнорировать папку build, содержащую временные файлы сборки
build/

# Игнорировать исполняемые файлы и объектные файлы
*.exe
*.obj
*.dll
*.pdb
*.log

# Игнорировать временные файлы и файлы настроек среды разработки Visual Studio
*.vcxproj
*.vcxproj.user
*.sln
*.suo
*.user
*.idb
*.ipch

# Игнорировать конфигурационные файлы CMake
CMakeCache.txt
CMakeFiles/